version: 2
updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
  - package-ecosystem: bun
    directory: /
    schedule:
      interval: daily
    groups:
      biome:
        patterns:
          - "@biomejs/*"
