tests/**/*.ts
tests/**/schema.js
tests/**/schema.ts
tests/**/*.d.js
swagger-test-cli
swagger-test-cli.*
templates
*.md
.github
node_modules
.openapi-generator
.vscode
assets
templates
*.yml
*.yaml
*.json