{
  "swagger":"2.0",
  "schemes":[
    "https"
  ],
  "host":"api.github.com",
  "basePath":"/",
  "info":{
    "termsOfService":"https://help.github.com/articles/github-terms-of-service/#b-api-terms",
    "title":"GitHub",
    "version":"v3",
    "x-apisguru-categories":[
      "collaboration",
      "developer_tools"
    ],
    "x-logo":{
      "url":"https://api.apis.guru/v2/cache/logo/https_twitter.com_github_profile_image.jpeg"
    },
    "x-origin":[
      {
        "format":"swagger",
        "url":"https://raw.githubusercontent.com/APIs-guru/unofficial_openapi_specs/master/github.com/v3/swagger.yaml",
        "version":"2.0"
      }
    ],
    "x-preferred":false,
    "x-providerName":"github.com",
    "x-unofficialSpec":true
  },
  "externalDocs":{
    "url":"https://developer.github.com/v3/"
  },
  "consumes":[
    "application/json"
  ],
  "produces":[
    "application/json"
  ],
  "securityDefinitions":{
    "oauth_2_0":{
      "authorizationUrl":"https://github.com/login/oauth/authorize",
      "flow":"accessCode",
      "scopes":{
        "admin:org":"",
        "admin:org_hook":"",
        "admin:public_key":"",
        "admin:repo_hook":"",
        "delete_repo":"",
        "gist":"",
        "notifications":"",
        "public_repo":"",
        "read:org":"",
        "read:public_key":"",
        "read:repo_hook":"",
        "repo":"",
        "repo:status":"",
        "repo_deployment":"",
        "user":"",
        "user:email":"",
        "user:follow":"",
        "write:org":"",
        "write:public_key":"",
        "write:repo_hook":""
      },
      "tokenUrl":"https://github.com/login/oauth/access_token",
      "type":"oauth2"
    }
  },
  "paths":{
    "/some-test":{
      "get":{
        "responses":{
          "200":{
            "content":{
              "application/json":{
                "schema":{
                  "type":"object",
                  "required":[
                    "user"
                  ],
                  "additionalProperties":false,
                  "properties":{
                    "user":{
                      "type":"object",
                      "required":[
                        "foo",
                        "extra"
                      ],
                      "properties":{
                        "foo":{
                          "type":"number",
                          "nullable":false
                        },
                        "extra":{
                          "type":"object",
                          "required":[
                            "id",
                            "extra"
                          ],
                          "properties":{
                            "id":{
                              "type":"number",
                              "nullable":false
                            },
                            "extra":{
                              "type":"object",
                              "required":[
                                "foo",
                                "bar",
                                "baz",
                                "bad",
                                "extra"
                              ],
                              "properties":{
                                "foo":{
                                  "type":"string"
                                },
                                "bar":{
                                  "type":"number"
                                },
                                "baz":{
                                  "type":"string"
                                },
                                "bad":{
                                  "type":"number"
                                },
                                "extra":{
                                  "type":"object",
                                  "required":[
                                    "foo",
                                    "bar",
                                    "baz",
                                    "bad",
                                    "extra"
                                  ],
                                  "properties":{
                                    "foo":{
                                      "type":"string"
                                    },
                                    "bar":{
                                      "type":"number"
                                    },
                                    "baz":{
                                      "type":"string"
                                    },
                                    "bad":{
                                      "type":"number"
                                    },
                                    "extra":{
                                      "type":"object",
                                      "required":[
                                        "foo",
                                        "bar",
                                        "baz",
                                        "bad",
                                        "extra"
                                      ],
                                      "properties":{
                                        "foo":{
                                          "type":"string"
                                        },
                                        "bar":{
                                          "type":"number"
                                        },
                                        "baz":{
                                          "type":"string"
                                        },
                                        "bad":{
                                          "type":"number"
                                        },
                                        "extra":{
                                          "type":"object",
                                          "required":[
                                            "foo",
                                            "bar",
                                            "baz",
                                            "bad"
                                          ],
                                          "properties":{
                                            "foo":{
                                              "type":"string"
                                            },
                                            "bar":{
                                              "type":"number"
                                            },
                                            "baz":{
                                              "type":"string"
                                            },
                                            "bad":{
                                              "type":"number"
                                            }
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/path-params":{
      "get":{
        "parameters":[
          {
            "in":"header",
            "name":"Accept",
            "type":"string"
          },
          {
            "in":"header",
            "name":"X-Auth",
            "required":true,
            "type":"string"
          },
          {
            "name":"petId",
            "in":"path",
            "required":true,
            "type":"integer",
            "format":"int64"
          }
        ],
        "responses":{
          "200":{
            "headers":{
              "X-GitHub-Media-Type":{
                "type":"string"
              },
              "X-GitHub-Request-Id":{
                "type":"integer"
              },
              "X-RateLimit-Limit":{
                "type":"integer"
              },
              "X-RateLimit-Remaining":{
                "type":"integer"
              },
              "X-RateLimit-Reset":{
                "type":"integer"
              }
            },
            "schema":{
              "$ref":"#/definitions/emojis"
            }
          },
          "403":{
            "headers":{
              "X-GitHub-Media-Type":{
                "type":"string"
              },
              "X-GitHub-Request-Id":{
                "type":"integer"
              },
              "X-RateLimit-Limit":{
                "type":"integer"
              },
              "X-RateLimit-Remaining":{
                "type":"integer"
              },
              "X-RateLimit-Reset":{
                "type":"integer"
              }
            }
          }
        }
      }
    },
    "/events":{
      "get":{
        "parameters":[
          {
            "in":"header",
            "name":"Accept",
            "type":"string"
          }
        ],
        "responses":{
          "200":{
            "headers":{
              "X-GitHub-Media-Type":{
                "type":"string"
              },
              "X-GitHub-Request-Id":{
                "type":"integer"
              },
              "X-RateLimit-Limit":{
                "type":"integer"
              },
              "X-RateLimit-Remaining":{
                "type":"integer"
              },
              "X-RateLimit-Reset":{
                "type":"integer"
              }
            },
            "schema":{
              "$ref":"#/definitions/events"
            }
          },
          "403":{
            "headers":{
              "X-GitHub-Media-Type":{
                "type":"string"
              },
              "X-GitHub-Request-Id":{
                "type":"integer"
              },
              "X-RateLimit-Limit":{
                "type":"integer"
              },
              "X-RateLimit-Remaining":{
                "type":"integer"
              },
              "X-RateLimit-Reset":{
                "type":"integer"
              }
            }
          }
        }
      }
    },
    "/feeds":{
      "get":{
        "parameters":[
          {
            "in":"header",
            "name":"Accept",
            "type":"string"
          }
        ],
        "responses":{
          "200":{
            "headers":{
              "X-GitHub-Media-Type":{
                "type":"string"
              },
              "X-GitHub-Request-Id":{
                "type":"integer"
              },
              "X-RateLimit-Limit":{
                "type":"integer"
              },
              "X-RateLimit-Remaining":{
                "type":"integer"
              },
              "X-RateLimit-Reset":{
                "type":"integer"
              }
            },
            "schema":{
              "$ref":"#/definitions/feeds"
            }
          },
          "403":{
            "headers":{
              "X-GitHub-Media-Type":{
                "type":"string"
              },
              "X-GitHub-Request-Id":{
                "type":"integer"
              },
              "X-RateLimit-Limit":{
                "type":"integer"
              },
              "X-RateLimit-Remaining":{
                "type":"integer"
              },
              "X-RateLimit-Reset":{
                "type":"integer"
              }
            }
          }
        }
      }
    },
    "/gists":{
      "get":{
        "parameters":[
          {
            "in":"query",
            "name":"since",
            "type":"string"
          },
          {
            "in":"header",
            "name":"Accept",
            "type":"string"
          }
        ],
        "responses":{
          "200":{
            "headers":{
              "X-GitHub-Media-Type":{
                "type":"string"
              },
              "X-GitHub-Request-Id":{
                "type":"integer"
              },
              "X-RateLimit-Limit":{
                "type":"integer"
              },
              "X-RateLimit-Remaining":{
                "type":"integer"
              },
              "X-RateLimit-Reset":{
                "type":"integer"
              }
            },
            "schema":{
              "$ref":"#/definitions/gists"
            }
          },
          "403":{
            "headers":{
              "X-GitHub-Media-Type":{
                "type":"string"
              },
              "X-GitHub-Request-Id":{
                "type":"integer"
              },
              "X-RateLimit-Limit":{
                "type":"integer"
              },
              "X-RateLimit-Remaining":{
                "type":"integer"
              },
              "X-RateLimit-Reset":{
                "type":"integer"
              }
            }
          }
        }
      },
      "post":{
        "parameters":[
          {
            "in":"header",
            "name":"Accept",
            "type":"string"
          },
          {
            "in":"body",
            "name":"body",
            "required":true,
            "schema":{
              "$ref":"#/definitions/postGist"
            }
          }
        ],
        "responses":{
          "201":{
            "headers":{
              "X-GitHub-Media-Type":{
                "type":"string"
              },
              "X-GitHub-Request-Id":{
                "type":"integer"
              },
              "X-RateLimit-Limit":{
                "type":"integer"
              },
              "X-RateLimit-Remaining":{
                "type":"integer"
              },
              "X-RateLimit-Reset":{
                "type":"integer"
              }
            },
            "schema":{
              "$ref":"#/definitions/gist"
            }
          },
          "403":{
            "headers":{
              "X-GitHub-Media-Type":{
                "type":"string"
              },
              "X-GitHub-Request-Id":{
                "type":"integer"
              },
              "X-RateLimit-Limit":{
                "type":"integer"
              },
              "X-RateLimit-Remaining":{
                "type":"integer"
              },
              "X-RateLimit-Reset":{
                "type":"integer"
              }
            }
          }
        }
      }
    },
    "/gists/public":{
      "get":{
        "parameters":[
          {
            "in":"query",
            "name":"since",
            "type":"string"
          },
          {
            "in":"header",
            "name":"Accept",
            "type":"string"
          }
        ],
        "responses":{
          "200":{
            "headers":{
              "X-GitHub-Media-Type":{
                "type":"string"
              },
              "X-GitHub-Request-Id":{
                "type":"integer"
              },
              "X-RateLimit-Limit":{
                "type":"integer"
              },
              "X-RateLimit-Remaining":{
                "type":"integer"
              },
              "X-RateLimit-Reset":{
                "type":"integer"
              }
            },
            "schema":{
              "$ref":"#/definitions/gists"
            }
          },
          "403":{
            "headers":{
              "X-GitHub-Media-Type":{
                "type":"string"
              },
              "X-GitHub-Request-Id":{
                "type":"integer"
              },
              "X-RateLimit-Limit":{
                "type":"integer"
              },
              "X-RateLimit-Remaining":{
                "type":"integer"
              },
              "X-RateLimit-Reset":{
                "type":"integer"
              }
            }
          }
        }
      }
    },
    "/gists/starred":{
      "get":{
        "parameters":[
          {
            "in":"query",
            "name":"since",
            "type":"string"
          },
          {
            "in":"header",
            "name":"Accept",
            "type":"string"
          }
        ],
        "responses":{
          "200":{
            "headers":{
              "X-GitHub-Media-Type":{
                "type":"string"
              },
              "X-GitHub-Request-Id":{
                "type":"integer"
              },
              "X-RateLimit-Limit":{
                "type":"integer"
              },
              "X-RateLimit-Remaining":{
                "type":"integer"
              },
              "X-RateLimit-Reset":{
                "type":"integer"
              }
            },
            "schema":{
              "$ref":"#/definitions/gists"
            }
          },
          "403":{
            "headers":{
              "X-GitHub-Media-Type":{
                "type":"string"
              },
              "X-GitHub-Request-Id":{
                "type":"integer"
              },
              "X-RateLimit-Limit":{
                "type":"integer"
              },
              "X-RateLimit-Remaining":{
                "type":"integer"
              },
              "X-RateLimit-Reset":{
                "type":"integer"
              }
            }
          }
        }
      }
    },
    "/gists/{id}":{
      "delete":{
        "parameters":[
          {
            "in":"path",
            "name":"id",
            "required":true,
            "type":"integer"
          },
          {
            "in":"header",
            "name":"Accept",
            "type":"string"
          }
        ],
        "responses":{
          "204":{
            "headers":{
              "X-GitHub-Media-Type":{
                "type":"string"
              },
              "X-GitHub-Request-Id":{
                "type":"integer"
              },
              "X-RateLimit-Limit":{
                "type":"integer"
              },
              "X-RateLimit-Remaining":{
                "type":"integer"
              },
              "X-RateLimit-Reset":{
                "type":"integer"
              }
            }
          },
          "403":{
            "headers":{
              "X-GitHub-Media-Type":{
                "type":"string"
              },
              "X-GitHub-Request-Id":{
                "type":"integer"
              },
              "X-RateLimit-Limit":{
                "type":"integer"
              },
              "X-RateLimit-Remaining":{
                "type":"integer"
              },
              "X-RateLimit-Reset":{
                "type":"integer"
              }
            }
          }
        }
      },
      "get":{
        "parameters":[
          {
            "in":"path",
            "name":"id",
            "required":true,
            "type":"integer"
          },
          {
            "in":"header",
            "name":"Accept",
            "type":"string"
          }
        ],
        "responses":{
          "200":{
            "headers":{
              "X-GitHub-Media-Type":{
                "type":"string"
              },
              "X-GitHub-Request-Id":{
                "type":"integer"
              },
              "X-RateLimit-Limit":{
                "type":"integer"
              },
              "X-RateLimit-Remaining":{
                "type":"integer"
              },
              "X-RateLimit-Reset":{
                "type":"integer"
              }
            },
            "schema":{
              "$ref":"#/definitions/gist"
            }
          },
          "403":{
            "headers":{
              "X-GitHub-Media-Type":{
                "type":"string"
              },
              "X-GitHub-Request-Id":{
                "type":"integer"
              },
              "X-RateLimit-Limit":{
                "type":"integer"
              },
              "X-RateLimit-Remaining":{
                "type":"integer"
              },
              "X-RateLimit-Reset":{
                "type":"integer"
              }
            }
          }
        }
      },
      "patch":{
        "parameters":[
          {
            "in":"path",
            "name":"id",
            "required":true,
            "type":"integer"
          },
          {
            "in":"header",
            "name":"Accept",
            "type":"string"
          },
          {
            "in":"body",
            "name":"body",
            "required":true,
            "schema":{
              "$ref":"#/definitions/patchGist"
            }
          }
        ],
        "responses":{
          "200":{
            "headers":{
              "X-GitHub-Media-Type":{
                "type":"string"
              },
              "X-GitHub-Request-Id":{
                "type":"integer"
              },
              "X-RateLimit-Limit":{
                "type":"integer"
              },
              "X-RateLimit-Remaining":{
                "type":"integer"
              },
              "X-RateLimit-Reset":{
                "type":"integer"
              }
            },
            "schema":{
              "$ref":"#/definitions/gist"
            }
          },
          "403":{
            "headers":{
              "X-GitHub-Media-Type":{
                "type":"string"
              },
              "X-GitHub-Request-Id":{
                "type":"integer"
              },
              "X-RateLimit-Limit":{
                "type":"integer"
              },
              "X-RateLimit-Remaining":{
                "type":"integer"
              },
              "X-RateLimit-Reset":{
                "type":"integer"
              }
            }
          }
        }
      }
    },
    "/gists/{id}/comments":{
      "get":{
        "parameters":[
          {
            "in":"path",
            "name":"id",
            "required":true,
            "type":"integer"
          },
          {
            "in":"header",
            "name":"Accept",
            "type":"string"
          }
        ],
        "responses":{
          "200":{
            "headers":{
              "X-GitHub-Media-Type":{
                "type":"string"
              },
              "X-GitHub-Request-Id":{
                "type":"integer"
              },
              "X-RateLimit-Limit":{
                "type":"integer"
              },
              "X-RateLimit-Remaining":{
                "type":"integer"
              },
              "X-RateLimit-Reset":{
                "type":"integer"
              }
            },
            "schema":{
              "$ref":"#/definitions/comments"
            }
          },
          "403":{
            "headers":{
              "X-GitHub-Media-Type":{
                "type":"string"
              },
              "X-GitHub-Request-Id":{
                "type":"integer"
              },
              "X-RateLimit-Limit":{
                "type":"integer"
              },
              "X-RateLimit-Remaining":{
                "type":"integer"
              },
              "X-RateLimit-Reset":{
                "type":"integer"
              }
            }
          }
        }
      },
      "post":{
        "parameters":[
          {
            "in":"path",
            "name":"id",
            "required":true,
            "type":"integer"
          },
          {
            "in":"header",
            "name":"Accept",
            "type":"string"
          },
          {
            "in":"body",
            "name":"body",
            "required":true,
            "schema":{
              "$ref":"#/definitions/commentBody"
            }
          }
        ],
        "responses":{
          "201":{
            "headers":{
              "X-GitHub-Media-Type":{
                "type":"string"
              },
              "X-GitHub-Request-Id":{
                "type":"integer"
              },
              "X-RateLimit-Limit":{
                "type":"integer"
              },
              "X-RateLimit-Remaining":{
                "type":"integer"
              },
              "X-RateLimit-Reset":{
                "type":"integer"
              }
            },
            "schema":{
              "$ref":"#/definitions/comment"
            }
          },
          "403":{
            "headers":{
              "X-GitHub-Media-Type":{
                "type":"string"
              },
              "X-GitHub-Request-Id":{
                "type":"integer"
              },
              "X-RateLimit-Limit":{
                "type":"integer"
              },
              "X-RateLimit-Remaining":{
                "type":"integer"
              },
              "X-RateLimit-Reset":{
                "type":"integer"
              }
            }
          }
        }
      }
    },
    "/gists/{id}/comments/{commentId}":{
      "delete":{
        "parameters":[
          {
            "in":"path",
            "name":"id",
            "required":true,
            "type":"integer"
          },
          {
            "in":"path",
            "name":"commentId",
            "required":true,
            "type":"integer"
          },
          {
            "in":"header",
            "name":"Accept",
            "type":"string"
          }
        ],
        "responses":{
          "204":{
            "headers":{
              "X-GitHub-Media-Type":{
                "type":"string"
              },
              "X-GitHub-Request-Id":{
                "type":"integer"
              },
              "X-RateLimit-Limit":{
                "type":"integer"
              },
              "X-RateLimit-Remaining":{
                "type":"integer"
              },
              "X-RateLimit-Reset":{
                "type":"integer"
              }
            }
          },
          "403":{
            "headers":{
              "X-GitHub-Media-Type":{
                "type":"string"
              },
              "X-GitHub-Request-Id":{
                "type":"integer"
              },
              "X-RateLimit-Limit":{
                "type":"integer"
              },
              "X-RateLimit-Remaining":{
                "type":"integer"
              },
              "X-RateLimit-Reset":{
                "type":"integer"
              }
            }
          }
        }
      },
      "get":{
        "parameters":[
          {
            "in":"path",
            "name":"id",
            "required":true,
            "type":"integer"
          },
          {
            "in":"path",
            "name":"commentId",
            "required":true,
            "type":"integer"
          },
          {
            "in":"header",
            "name":"Accept",
            "type":"string"
          }
        ],
        "responses":{
          "200":{
            "headers":{
              "X-GitHub-Media-Type":{
                "type":"string"
              },
              "X-GitHub-Request-Id":{
                "type":"integer"
              },
              "X-RateLimit-Limit":{
                "type":"integer"
              },
              "X-RateLimit-Remaining":{
                "type":"integer"
              },
              "X-RateLimit-Reset":{
                "type":"integer"
              }
            },
            "schema":{
              "$ref":"#/definitions/comment"
            }
          },
          "403":{
            "headers":{
              "X-GitHub-Media-Type":{
                "type":"string"
              },
              "X-GitHub-Request-Id":{
                "type":"integer"
              },
              "X-RateLimit-Limit":{
                "type":"integer"
              },
              "X-RateLimit-Remaining":{
                "type":"integer"
              },
              "X-RateLimit-Reset":{
                "type":"integer"
              }
            }
          }
        }
      },
      "patch":{
        "parameters":[
          {
            "in":"path",
            "name":"id",
            "required":true,
            "type":"integer"
          },
          {
            "in":"path",
            "name":"commentId",
            "required":true,
            "type":"integer"
          },
          {
            "in":"header",
            "name":"Accept",
            "type":"string"
          },
          {
            "in":"body",
            "name":"body",
            "required":true,
            "schema":{
              "$ref":"#/definitions/comment"
            }
          }
        ],
        "responses":{
          "200":{
            "headers":{
              "X-GitHub-Media-Type":{
                "type":"string"
              },
              "X-GitHub-Request-Id":{
                "type":"integer"
              },
              "X-RateLimit-Limit":{
                "type":"integer"
              },
              "X-RateLimit-Remaining":{
                "type":"integer"
              },
              "X-RateLimit-Reset":{
                "type":"integer"
              }
            },
            "schema":{
              "$ref":"#/definitions/comment"
            }
          },
          "403":{
            "headers":{
              "X-GitHub-Media-Type":{
                "type":"string"
              },
              "X-GitHub-Request-Id":{
                "type":"integer"
              },
              "X-RateLimit-Limit":{
                "type":"integer"
              },
              "X-RateLimit-Remaining":{
                "type":"integer"
              },
              "X-RateLimit-Reset":{
                "type":"integer"
              }
            }
          }
        }
      }
    },
    "/gists/{id}/forks":{
      "post":{
        "parameters":[
          {
            "in":"path",
            "name":"id",
            "required":true,
            "type":"integer"
          },
          {
            "in":"header",
            "name":"Accept",
            "type":"string"
          }
        ],
        "responses":{
          "204":{
            "headers":{
              "X-GitHub-Media-Type":{
                "type":"string"
              },
              "X-GitHub-Request-Id":{
                "type":"integer"
              },
              "X-RateLimit-Limit":{
                "type":"integer"
              },
              "X-RateLimit-Remaining":{
                "type":"integer"
              },
              "X-RateLimit-Reset":{
                "type":"integer"
              }
            }
          },
          "403":{
            "headers":{
              "X-GitHub-Media-Type":{
                "type":"string"
              },
              "X-GitHub-Request-Id":{
                "type":"integer"
              },
              "X-RateLimit-Limit":{
                "type":"integer"
              },
              "X-RateLimit-Remaining":{
                "type":"integer"
              },
              "X-RateLimit-Reset":{
                "type":"integer"
              }
            }
          },
          "404":{
            "headers":{
              "X-GitHub-Media-Type":{
                "type":"string"
              },
              "X-GitHub-Request-Id":{
                "type":"integer"
              },
              "X-RateLimit-Limit":{
                "type":"integer"
              },
              "X-RateLimit-Remaining":{
                "type":"integer"
              },
              "X-RateLimit-Reset":{
                "type":"integer"
              }
            }
          }
        }
      }
    },
    "/gists/{id}/star":{
      "delete":{
        "parameters":[
          {
            "in":"path",
            "name":"id",
            "required":true,
            "type":"integer"
          },
          {
            "in":"header",
            "name":"Accept",
            "type":"string"
          }
        ],
        "responses":{
          "204":{
            "headers":{
              "X-GitHub-Media-Type":{
                "type":"string"
              },
              "X-GitHub-Request-Id":{
                "type":"integer"
              },
              "X-RateLimit-Limit":{
                "type":"integer"
              },
              "X-RateLimit-Remaining":{
                "type":"integer"
              },
              "X-RateLimit-Reset":{
                "type":"integer"
              }
            }
          },
          "403":{
            "headers":{
              "X-GitHub-Media-Type":{
                "type":"string"
              },
              "X-GitHub-Request-Id":{
                "type":"integer"
              },
              "X-RateLimit-Limit":{
                "type":"integer"
              },
              "X-RateLimit-Remaining":{
                "type":"integer"
              },
              "X-RateLimit-Reset":{
                "type":"integer"
              }
            }
          }
        }
      },
      "get":{
        "parameters":[
          {
            "in":"path",
            "name":"id",
            "required":true,
            "type":"integer"
          },
          {
            "in":"header",
            "name":"Accept",
            "type":"string"
          }
        ],
        "responses":{
          "204":{
            "headers":{
              "X-GitHub-Media-Type":{
                "type":"string"
              },
              "X-GitHub-Request-Id":{
                "type":"integer"
              },
              "X-RateLimit-Limit":{
                "type":"integer"
              },
              "X-RateLimit-Remaining":{
                "type":"integer"
              },
              "X-RateLimit-Reset":{
                "type":"integer"
              }
            }
          },
          "403":{
            "headers":{
              "X-GitHub-Media-Type":{
                "type":"string"
              },
              "X-GitHub-Request-Id":{
                "type":"integer"
              },
              "X-RateLimit-Limit":{
                "type":"integer"
              },
              "X-RateLimit-Remaining":{
                "type":"integer"
              },
              "X-RateLimit-Reset":{
                "type":"integer"
              }
            }
          },
          "404":{
            "headers":{
              "X-GitHub-Media-Type":{
                "type":"string"
              },
              "X-GitHub-Request-Id":{
                "type":"integer"
              },
              "X-RateLimit-Limit":{
                "type":"integer"
              },
              "X-RateLimit-Remaining":{
                "type":"integer"
              },
              "X-RateLimit-Reset":{
                "type":"integer"
              }
            }
          }
        }
      },
      "put":{
        "parameters":[
          {
            "in":"path",
            "name":"id",
            "required":true,
            "type":"integer"
          },
          {
            "in":"header",
            "name":"Accept",
            "type":"string"
          }
        ],
        "responses":{
          "204":{
            "headers":{
              "X-GitHub-Media-Type":{
                "type":"string"
              },
              "X-GitHub-Request-Id":{
                "type":"integer"
              },
              "X-RateLimit-Limit":{
                "type":"integer"
              },
              "X-RateLimit-Remaining":{
                "type":"integer"
              },
              "X-RateLimit-Reset":{
                "type":"integer"
              }
            }
          },
          "403":{
            "headers":{
              "X-GitHub-Media-Type":{
                "type":"string"
              },
              "X-GitHub-Request-Id":{
                "type":"integer"
              },
              "X-RateLimit-Limit":{
                "type":"integer"
              },
              "X-RateLimit-Remaining":{
                "type":"integer"
              },
              "X-RateLimit-Reset":{
                "type":"integer"
              }
            }
          }
        }
      }
    },
    "/gitignore/templates":{
      "get":{
        "parameters":[
          {
            "in":"header",
            "name":"Accept",
            "type":"string"
          }
        ],
        "responses":{
          "200":{
            "headers":{
              "X-GitHub-Media-Type":{
                "type":"string"
              },
              "X-GitHub-Request-Id":{
                "type":"integer"
              },
              "X-RateLimit-Limit":{
                "type":"integer"
              },
              "X-RateLimit-Remaining":{
                "type":"integer"
              },
              "X-RateLimit-Reset":{
                "type":"integer"
              }
            },
            "schema":{
              "$ref":"#/definitions/gitignore"
            }
          },
          "403":{
            "headers":{
              "X-GitHub-Media-Type":{
                "type":"string"
              },
              "X-GitHub-Request-Id":{
                "type":"integer"
              },
              "X-RateLimit-Limit":{
                "type":"integer"
              },
              "X-RateLimit-Remaining":{
                "type":"integer"
              },
              "X-RateLimit-Reset":{
                "type":"integer"
              }
            }
          }
        }
      }
    },
    "/gitignore/templates/{language}":{
      "get":{
        "parameters":[
          {
            "in":"path",
            "name":"language",
            "required":true,
            "type":"string"
          },
          {
            "in":"header",
            "name":"Accept",
            "type":"string"
          }
        ],
        "responses":{
          "200":{
            "headers":{
              "X-GitHub-Media-Type":{
                "type":"string"
              },
              "X-GitHub-Request-Id":{
                "type":"integer"
              },
              "X-RateLimit-Limit":{
                "type":"integer"
              },
              "X-RateLimit-Remaining":{
                "type":"integer"
              },
              "X-RateLimit-Reset":{
                "type":"integer"
              }
            },
            "schema":{
              "$ref":"#/definitions/gitignore-lang"
            }
          },
          "403":{
            "headers":{
              "X-GitHub-Media-Type":{
                "type":"string"
              },
              "X-GitHub-Request-Id":{
                "type":"integer"
              },
              "X-RateLimit-Limit":{
                "type":"integer"
              },
              "X-RateLimit-Remaining":{
                "type":"integer"
              },
              "X-RateLimit-Reset":{
                "type":"integer"
              }
            }
          }
        }
      }
    },
    "/issues":{
      "get":{
        "parameters":[
          {
            "default":"all",
            "enum":[
              "assigned",
              "created",
              "mentioned",
              "subscribed",
              "all"
            ],
            "in":"query",
            "name":"filter",
            "required":true,
            "type":"string"
          },
          {
            "default":"open",
            "enum":[
              "open",
              "closed"
            ],
            "in":"query",
            "name":"state",
            "required":true,
            "type":"string"
          },
          {
            "in":"query",
            "name":"labels",
            "required":true,
            "type":"string"
          },
          {
            "default":"created",
            "enum":[
              "created",
              "updated",
              "comments"
            ],
            "in":"query",
            "name":"sort",
            "required":true,
            "type":"string"
          },
          {
            "default":"desc",
            "enum":[
              "asc",
              "desc"
            ],
            "in":"query",
            "name":"direction",
            "required":true,
            "type":"string"
          },
          {
            "in":"query",
            "name":"since",
            "type":"string"
          },
          {
            "in":"header",
            "name":"Accept",
            "type":"string"
          }
        ],
        "responses":{
          "200":{
            "headers":{
              "X-GitHub-Media-Type":{
                "type":"string"
              },
              "X-GitHub-Request-Id":{
                "type":"integer"
              },
              "X-RateLimit-Limit":{
                "type":"integer"
              },
              "X-RateLimit-Remaining":{
                "type":"integer"
              },
              "X-RateLimit-Reset":{
                "type":"integer"
              }
            },
            "schema":{
              "$ref":"#/definitions/issues"
            }
          },
          "403":{
            "headers":{
              "X-GitHub-Media-Type":{
                "type":"string"
              },
              "X-GitHub-Request-Id":{
                "type":"integer"
              },
              "X-RateLimit-Limit":{
                "type":"integer"
              },
              "X-RateLimit-Remaining":{
                "type":"integer"
              },
              "X-RateLimit-Reset":{
                "type":"integer"
              }
            }
          }
        }
      }
    },
    "/legacy/issues/search/{owner}/{repository}/{state}/{keyword}":{
      "get":{
        "deprecated":true,
        "parameters":[
          {
            "in":"path",
            "name":"keyword",
            "required":true,
            "type":"string"
          },
          {
            "enum":[
              "open",
              "closed"
            ],
            "in":"path",
            "name":"state",
            "required":true,
            "type":"string"
          },
          {
            "in":"path",
            "name":"owner",
            "required":true,
            "type":"string"
          },
          {
            "in":"path",
            "name":"repository",
            "required":true,
            "type":"string"
          },
          {
            "in":"header",
            "name":"Accept",
            "type":"string"
          }
        ],
        "responses":{
          "200":{
            "headers":{
              "X-GitHub-Media-Type":{
                "type":"string"
              },
              "X-GitHub-Request-Id":{
                "type":"integer"
              },
              "X-RateLimit-Limit":{
                "type":"integer"
              },
              "X-RateLimit-Remaining":{
                "type":"integer"
              },
              "X-RateLimit-Reset":{
                "type":"integer"
              }
            },
            "schema":{
              "$ref":"#/definitions/search-issues-by-keyword"
            }
          },
          "403":{
            "headers":{
              "X-GitHub-Media-Type":{
                "type":"string"
              },
              "X-GitHub-Request-Id":{
                "type":"integer"
              },
              "X-RateLimit-Limit":{
                "type":"integer"
              },
              "X-RateLimit-Remaining":{
                "type":"integer"
              },
              "X-RateLimit-Reset":{
                "type":"integer"
              }
            }
          }
        }
      }
    },
    "/legacy/repos/search/{keyword}":{
      "get":{
        "deprecated":true,
        "parameters":[
          {
            "in":"path",
            "name":"keyword",
            "required":true,
            "type":"string"
          },
          {
            "default":"desc",
            "enum":[
              "desc",
              "asc"
            ],
            "in":"query",
            "name":"order",
            "type":"string"
          },
          {
            "in":"query",
            "name":"language",
            "type":"string"
          },
          {
            "in":"query",
            "name":"start_page",
            "type":"string"
          },
          {
            "enum":[
              "updated",
              "stars",
              "forks"
            ],
            "in":"query",
            "name":"sort",
            "type":"string"
          },
          {
            "in":"header",
            "name":"Accept",
            "type":"string"
          }
        ],
        "responses":{
          "200":{
            "headers":{
              "X-GitHub-Media-Type":{
                "type":"string"
              },
              "X-GitHub-Request-Id":{
                "type":"integer"
              },
              "X-RateLimit-Limit":{
                "type":"integer"
              },
              "X-RateLimit-Remaining":{
                "type":"integer"
              },
              "X-RateLimit-Reset":{
                "type":"integer"
              }
            },
            "schema":{
              "$ref":"#/definitions/search-repositories-by-keyword"
            }
          },
          "403":{
            "headers":{
              "X-GitHub-Media-Type":{
                "type":"string"
              },
              "X-GitHub-Request-Id":{
                "type":"integer"
              },
              "X-RateLimit-Limit":{
                "type":"integer"
              },
              "X-RateLimit-Remaining":{
                "type":"integer"
              },
              "X-RateLimit-Reset":{
                "type":"integer"
              }
            }
          }
        }
      }
    },
    "/legacy/user/email/{email}":{
      "get":{
        "deprecated":true,
        "parameters":[
          {
            "in":"path",
            "name":"email",
            "required":true,
            "type":"string"
          },
          {
            "in":"header",
            "name":"Accept",
            "type":"string"
          }
        ],
        "responses":{
          "200":{
            "headers":{
              "X-GitHub-Media-Type":{
                "type":"string"
              },
              "X-GitHub-Request-Id":{
                "type":"integer"
              },
              "X-RateLimit-Limit":{
                "type":"integer"
              },
              "X-RateLimit-Remaining":{
                "type":"integer"
              },
              "X-RateLimit-Reset":{
                "type":"integer"
              }
            },
            "schema":{
              "$ref":"#/definitions/search-user-by-email"
            }
          },
          "403":{
            "headers":{
              "X-GitHub-Media-Type":{
                "type":"string"
              },
              "X-GitHub-Request-Id":{
                "type":"integer"
              },
              "X-RateLimit-Limit":{
                "type":"integer"
              },
              "X-RateLimit-Remaining":{
                "type":"integer"
              },
              "X-RateLimit-Reset":{
                "type":"integer"
              }
            }
          }
        }
      }
    },
    "/legacy/user/search/{keyword}":{
      "get":{
        "deprecated":true,
        "parameters":[
          {
            "in":"path",
            "name":"keyword",
            "required":true,
            "type":"string"
          },
          {
            "default":"desc",
            "enum":[
              "desc",
              "asc"
            ],
            "in":"query",
            "name":"order",
            "type":"string"
          },
          {
            "in":"query",
            "name":"start_page",
            "type":"string"
          },
          {
            "enum":[
              "updated",
              "stars",
              "forks"
            ],
            "in":"query",
            "name":"sort",
            "type":"string"
          },
          {
            "in":"header",
            "name":"Accept",
            "type":"string"
          }
        ],
        "responses":{
          "200":{
            "headers":{
              "X-GitHub-Media-Type":{
                "type":"string"
              },
              "X-GitHub-Request-Id":{
                "type":"integer"
              },
              "X-RateLimit-Limit":{
                "type":"integer"
              },
              "X-RateLimit-Remaining":{
                "type":"integer"
              },
              "X-RateLimit-Reset":{
                "type":"integer"
              }
            },
            "schema":{
              "$ref":"#/definitions/search-users-by-keyword"
            }
          },
          "403":{
            "headers":{
              "X-GitHub-Media-Type":{
                "type":"string"
              },
              "X-GitHub-Request-Id":{
                "type":"integer"
              },
              "X-RateLimit-Limit":{
                "type":"integer"
              },
              "X-RateLimit-Remaining":{
                "type":"integer"
              },
              "X-RateLimit-Reset":{
                "type":"integer"
              }
            }
          }
        }
      }
    },
    "/markdown":{
      "post":{
        "parameters":[
          {
            "in":"header",
            "name":"Accept",
            "type":"string"
          },
          {
            "in":"body",
            "name":"body",
            "required":true,
            "schema":{
              "$ref":"#/definitions/markdown"
            }
          }
        ],
        "produces":[
          "text/html"
        ],
        "responses":{
          "200":{
            "headers":{
              "X-GitHub-Media-Type":{
                "type":"string"
              },
              "X-GitHub-Request-Id":{
                "type":"integer"
              },
              "X-RateLimit-Limit":{
                "type":"integer"
              },
              "X-RateLimit-Remaining":{
                "type":"integer"
              },
              "X-RateLimit-Reset":{
                "type":"integer"
              }
            }
          },
          "403":{
            "headers":{
              "X-GitHub-Media-Type":{
                "type":"string"
              },
              "X-GitHub-Request-Id":{
                "type":"integer"
              },
              "X-RateLimit-Limit":{
                "type":"integer"
              },
              "X-RateLimit-Remaining":{
                "type":"integer"
              },
              "X-RateLimit-Reset":{
                "type":"integer"
              }
            }
          }
        }
      }
    },
    "/markdown/raw":{
      "post":{
        "consumes":[
          "text/plain"
        ],
        "parameters":[
          {
            "in":"header",
            "name":"Accept",
            "type":"string"
          }
        ],
        "produces":[
          "text/html"
        ],
        "responses":{
          "200":{
            "headers":{
              "X-GitHub-Media-Type":{
                "type":"string"
              },
              "X-GitHub-Request-Id":{
                "type":"integer"
              },
              "X-RateLimit-Limit":{
                "type":"integer"
              },
              "X-RateLimit-Remaining":{
                "type":"integer"
              },
              "X-RateLimit-Reset":{
                "type":"integer"
              }
            }
          },
          "403":{
            "headers":{
              "X-GitHub-Media-Type":{
                "type":"string"
              },
              "X-GitHub-Request-Id":{
                "type":"integer"
              },
              "X-RateLimit-Limit":{
                "type":"integer"
              },
              "X-RateLimit-Remaining":{
                "type":"integer"
              },
              "X-RateLimit-Reset":{
                "type":"integer"
              }
            }
          }
        }
      }
    },
    "/meta":{
      "get":{
        "parameters":[
          {
            "in":"header",
            "name":"Accept",
            "type":"string"
          }
        ],
        "responses":{
          "200":{
            "headers":{
              "X-GitHub-Media-Type":{
                "type":"string"
              },
              "X-GitHub-Request-Id":{
                "type":"integer"
              },
              "X-RateLimit-Limit":{
                "type":"integer"
              },
              "X-RateLimit-Remaining":{
                "type":"integer"
              },
              "X-RateLimit-Reset":{
                "type":"integer"
              }
            },
            "schema":{
              "$ref":"#/definitions/meta"
            }
          },
          "403":{
            "headers":{
              "X-GitHub-Media-Type":{
                "type":"string"
              },
              "X-GitHub-Request-Id":{
                "type":"integer"
              },
              "X-RateLimit-Limit":{
                "type":"integer"
              },
              "X-RateLimit-Remaining":{
                "type":"integer"
              },
              "X-RateLimit-Reset":{
                "type":"integer"
              }
            }
          }
        }
      }
    },
    "/networks/{owner}/{repo}/events":{
      "get":{
        "parameters":[
          {
            "in":"path",
            "name":"owner",
            "required":true,
            "type":"string"
          },
          {
            "in":"path",
            "name":"repo",
            "required":true,
            "type":"string"
          },
          {
            "in":"header",
            "name":"Accept",
            "type":"string"
          }
        ],
        "responses":{
          "200":{
            "headers":{
              "X-GitHub-Media-Type":{
                "type":"string"
              },
              "X-GitHub-Request-Id":{
                "type":"integer"
              },
              "X-RateLimit-Limit":{
                "type":"integer"
              },
              "X-RateLimit-Remaining":{
                "type":"integer"
              },
              "X-RateLimit-Reset":{
                "type":"integer"
              }
            },
            "schema":{
              "$ref":"#/definitions/events"
            }
          },
          "403":{
            "headers":{
              "X-GitHub-Media-Type":{
                "type":"string"
              },
              "X-GitHub-Request-Id":{
                "type":"integer"
              },
              "X-RateLimit-Limit":{
                "type":"integer"
              },
              "X-RateLimit-Remaining":{
                "type":"integer"
              },
              "X-RateLimit-Reset":{
                "type":"integer"
              }
            }
          }
        }
      }
    },
    "/notifications":{
      "get":{
        "parameters":[
          {
            "in":"query",
            "name":"all",
            "type":"boolean"
          },
          {
            "in":"query",
            "name":"participating",
            "type":"boolean"
          },
          {
            "in":"query",
            "name":"since",
            "type":"string"
          },
          {
            "in":"header",
            "name":"Accept",
            "type":"string"
          }
        ],
        "responses":{
          "200":{
            "headers":{
              "X-GitHub-Media-Type":{
                "type":"string"
              },
              "X-GitHub-Request-Id":{
                "type":"integer"
              },
              "X-RateLimit-Limit":{
                "type":"integer"
              },
              "X-RateLimit-Remaining":{
                "type":"integer"
              },
              "X-RateLimit-Reset":{
                "type":"integer"
              }
            },
            "schema":{
              "$ref":"#/definitions/notifications"
            }
          },
          "403":{
            "headers":{
              "X-GitHub-Media-Type":{
                "type":"string"
              },
              "X-GitHub-Request-Id":{
                "type":"integer"
              },
              "X-RateLimit-Limit":{
                "type":"integer"
              },
              "X-RateLimit-Remaining":{
                "type":"integer"
              },
              "X-RateLimit-Reset":{
                "type":"integer"
              }
            }
          }
        }
      },
      "put":{
        "parameters":[
          {
            "in":"header",
            "name":"Accept",
            "type":"string"
          },
          {
            "in":"body",
            "name":"body",
            "required":true,
            "schema":{
              "$ref":"#/definitions/notificationMarkRead"
            }
          }
        ],
        "responses":{
          "205":{
            "headers":{
              "X-GitHub-Media-Type":{
                "type":"string"
              },
              "X-GitHub-Request-Id":{
                "type":"integer"
              },
              "X-RateLimit-Limit":{
                "type":"integer"
              },
              "X-RateLimit-Remaining":{
                "type":"integer"
              },
              "X-RateLimit-Reset":{
                "type":"integer"
              }
            }
          },
          "403":{
            "headers":{
              "X-GitHub-Media-Type":{
                "type":"string"
              },
              "X-GitHub-Request-Id":{
                "type":"integer"
              },
              "X-RateLimit-Limit":{
                "type":"integer"
              },
              "X-RateLimit-Remaining":{
                "type":"integer"
              },
              "X-RateLimit-Reset":{
                "type":"integer"
              }
            }
          }
        }
      }
    },
    "/notifications/threads/{id}":{
      "get":{
        "parameters":[
          {
            "in":"path",
            "name":"id",
            "required":true,
            "type":"integer"
          },
          {
            "in":"header",
            "name":"Accept",
            "type":"string"
          }
        ],
        "responses":{
          "200":{
            "headers":{
              "X-GitHub-Media-Type":{
                "type":"string"
              },
              "X-GitHub-Request-Id":{
                "type":"integer"
              },
              "X-RateLimit-Limit":{
                "type":"integer"
              },
              "X-RateLimit-Remaining":{
                "type":"integer"
              },
              "X-RateLimit-Reset":{
                "type":"integer"
              }
            },
            "schema":{
              "$ref":"#/definitions/notifications"
            }
          },
          "403":{
            "headers":{
              "X-GitHub-Media-Type":{
                "type":"string"
              },
              "X-GitHub-Request-Id":{
                "type":"integer"
              },
              "X-RateLimit-Limit":{
                "type":"integer"
              },
              "X-RateLimit-Remaining":{
                "type":"integer"
              },
              "X-RateLimit-Reset":{
                "type":"integer"
              }
            }
          }
        }
      },
      "patch":{
        "parameters":[
          {
            "in":"path",
            "name":"id",
            "required":true,
            "type":"integer"
          },
          {
            "in":"header",
            "name":"Accept",
            "type":"string"
          }
        ],
        "responses":{
          "205":{
            "headers":{
              "X-GitHub-Media-Type":{
                "type":"string"
              },
              "X-GitHub-Request-Id":{
                "type":"integer"
              },
              "X-RateLimit-Limit":{
                "type":"integer"
              },
              "X-RateLimit-Remaining":{
                "type":"integer"
              },
              "X-RateLimit-Reset":{
                "type":"integer"
              }
            }
          },
          "403":{
            "headers":{
              "X-GitHub-Media-Type":{
                "type":"string"
              },
              "X-GitHub-Request-Id":{
                "type":"integer"
              },
              "X-RateLimit-Limit":{
                "type":"integer"
              },
              "X-RateLimit-Remaining":{
                "type":"integer"
              },
              "X-RateLimit-Reset":{
                "type":"integer"
              }
            }
          }
        }
      }
    },
    "/notifications/threads/{id}/subscription":{
      "delete":{
        "parameters":[
          {
            "in":"path",
            "name":"id",
            "required":true,
            "type":"integer"
          },
          {
            "in":"header",
            "name":"Accept",
            "type":"string"
          }
        ],
        "responses":{
          "204":{
            "headers":{
              "X-GitHub-Media-Type":{
                "type":"string"
              },
              "X-GitHub-Request-Id":{
                "type":"integer"
              },
              "X-RateLimit-Limit":{
                "type":"integer"
              },
              "X-RateLimit-Remaining":{
                "type":"integer"
              },
              "X-RateLimit-Reset":{
                "type":"integer"
              }
            }
          },
          "403":{
            "headers":{
              "X-GitHub-Media-Type":{
                "type":"string"
              },
              "X-GitHub-Request-Id":{
                "type":"integer"
              },
              "X-RateLimit-Limit":{
                "type":"integer"
              },
              "X-RateLimit-Remaining":{
                "type":"integer"
              },
              "X-RateLimit-Reset":{
                "type":"integer"
              }
            }
          }
        }
      },
      "get":{
        "parameters":[
          {
            "in":"path",
            "name":"id",
            "required":true,
            "type":"integer"
          },
          {
            "in":"header",
            "name":"Accept",
            "type":"string"
          }
        ],
        "responses":{
          "200":{
            "headers":{
              "X-GitHub-Media-Type":{
                "type":"string"
              },
              "X-GitHub-Request-Id":{
                "type":"integer"
              },
              "X-RateLimit-Limit":{
                "type":"integer"
              },
              "X-RateLimit-Remaining":{
                "type":"integer"
              },
              "X-RateLimit-Reset":{
                "type":"integer"
              }
            },
            "schema":{
              "$ref":"#/definitions/subscription"
            }
          },
          "403":{
            "headers":{
              "X-GitHub-Media-Type":{
                "type":"string"
              },
              "X-GitHub-Request-Id":{
                "type":"integer"
              },
              "X-RateLimit-Limit":{
                "type":"integer"
              },
              "X-RateLimit-Remaining":{
                "type":"integer"
              },
              "X-RateLimit-Reset":{
                "type":"integer"
              }
            }
          }
        }
      },
      "put":{
        "parameters":[
          {
            "in":"path",
            "name":"id",
            "required":true,
            "type":"integer"
          },
          {
            "in":"header",
            "name":"Accept",
            "type":"string"
          },
          {
            "in":"body",
            "name":"body",
            "required":true,
            "schema":{
              "$ref":"#/definitions/putSubscription"
            }
          }
        ],
        "responses":{
          "200":{
            "headers":{
              "X-GitHub-Media-Type":{
                "type":"string"
              },
              "X-GitHub-Request-Id":{
                "type":"integer"
              },
              "X-RateLimit-Limit":{
                "type":"integer"
              },
              "X-RateLimit-Remaining":{
                "type":"integer"
              },
              "X-RateLimit-Reset":{
                "type":"integer"
              }
            },
            "schema":{
              "$ref":"#/definitions/subscription"
            }
          },
          "403":{
            "headers":{
              "X-GitHub-Media-Type":{
                "type":"string"
              },
              "X-GitHub-Request-Id":{
                "type":"integer"
              },
              "X-RateLimit-Limit":{
                "type":"integer"
              },
              "X-RateLimit-Remaining":{
                "type":"integer"
              },
              "X-RateLimit-Reset":{
                "type":"integer"
              }
            }
          }
        }
      }
    },
    "/orgs/{org}":{
      "get":{
        "parameters":[
          {
            "in":"path",
            "name":"org",
            "required":true,
            "type":"string"
          },
          {
            "in":"header",
            "name":"Accept",
            "type":"string"
          }
        ],
        "responses":{
          "200":{
            "headers":{
              "X-GitHub-Media-Type":{
                "type":"string"
              },
              "X-GitHub-Request-Id":{
                "type":"integer"
              },
              "X-RateLimit-Limit":{
                "type":"integer"
              },
              "X-RateLimit-Remaining":{
                "type":"integer"
              },
              "X-RateLimit-Reset":{
                "type":"integer"
              }
            },
            "schema":{
              "$ref":"#/definitions/organization"
            }
          },
          "403":{
            "headers":{
              "X-GitHub-Media-Type":{
                "type":"string"
              },
              "X-GitHub-Request-Id":{
                "type":"integer"
              },
              "X-RateLimit-Limit":{
                "type":"integer"
              },
              "X-RateLimit-Remaining":{
                "type":"integer"
              },
              "X-RateLimit-Reset":{
                "type":"integer"
              }
            }
          }
        }
      },
      "patch":{
        "parameters":[
          {
            "in":"path",
            "name":"org",
            "required":true,
            "type":"string"
          },
          {
            "in":"header",
            "name":"Accept",
            "type":"string"
          },
          {
            "in":"body",
            "name":"body",
            "required":true,
            "schema":{
              "$ref":"#/definitions/patchOrg"
            }
          }
        ],
        "responses":{
          "200":{
            "headers":{
              "X-GitHub-Media-Type":{
                "type":"string"
              },
              "X-GitHub-Request-Id":{
                "type":"integer"
              },
              "X-RateLimit-Limit":{
                "type":"integer"
              },
              "X-RateLimit-Remaining":{
                "type":"integer"
              },
              "X-RateLimit-Reset":{
                "type":"integer"
              }
            },
            "schema":{
              "$ref":"#/definitions/organization"
            }
          },
          "403":{
            "headers":{
              "X-GitHub-Media-Type":{
                "type":"string"
              },
              "X-GitHub-Request-Id":{
                "type":"integer"
              },
              "X-RateLimit-Limit":{
                "type":"integer"
              },
              "X-RateLimit-Remaining":{
                "type":"integer"
              },
              "X-RateLimit-Reset":{
                "type":"integer"
              }
            }
          }
        }
      }
    },
    "/orgs/{org}/events":{
      "get":{
        "parameters":[
          {
            "in":"path",
            "name":"org",
            "required":true,
            "type":"string"
          },
          {
            "in":"header",
            "name":"Accept",
            "type":"string"
          }
        ],
        "responses":{
          "200":{
            "headers":{
              "X-GitHub-Media-Type":{
                "type":"string"
              },
              "X-GitHub-Request-Id":{
                "type":"integer"
              },
              "X-RateLimit-Limit":{
                "type":"integer"
              },
              "X-RateLimit-Remaining":{
                "type":"integer"
              },
              "X-RateLimit-Reset":{
                "type":"integer"
              }
            },
            "schema":{
              "$ref":"#/definitions/events"
            }
          },
          "403":{
            "headers":{
              "X-GitHub-Media-Type":{
                "type":"string"
              },
              "X-GitHub-Request-Id":{
                "type":"integer"
              },
              "X-RateLimit-Limit":{
                "type":"integer"
              },
              "X-RateLimit-Remaining":{
                "type":"integer"
              },
              "X-RateLimit-Reset":{
                "type":"integer"
              }
            }
          }
        }
      }
    },
    "/orgs/{org}/issues":{
      "get":{
        "parameters":[
          {
            "in":"path",
            "name":"org",
            "required":true,
            "type":"string"
          },
          {
            "default":"all",
            "enum":[
              "assigned",
              "created",
              "mentioned",
              "subscribed",
              "all"
            ],
            "in":"query",
            "name":"filter",
            "required":true,
            "type":"string"
          },
          {
            "default":"open",
            "enum":[
              "open",
              "closed"
            ],
            "in":"query",
            "name":"state",
            "required":true,
            "type":"string"
          },
          {
            "in":"query",
            "name":"labels",
            "required":true,
            "type":"string"
          },
          {
            "default":"created",
            "enum":[
              "created",
              "updated",
              "comments"
            ],
            "in":"query",
            "name":"sort",
            "required":true,
            "type":"string"
          },
          {
            "default":"desc",
            "enum":[
              "asc",
              "desc"
            ],
            "in":"query",
            "name":"direction",
            "required":true,
            "type":"string"
          },
          {
            "in":"query",
            "name":"since",
            "type":"string"
          },
          {
            "in":"header",
            "name":"Accept",
            "type":"string"
          }
        ],
        "responses":{
          "200":{
            "headers":{
              "X-GitHub-Media-Type":{
                "type":"string"
              },
              "X-GitHub-Request-Id":{
                "type":"integer"
              },
              "X-RateLimit-Limit":{
                "type":"integer"
              },
              "X-RateLimit-Remaining":{
                "type":"integer"
              },
              "X-RateLimit-Reset":{
                "type":"integer"
              }
            },
            "schema":{
              "$ref":"#/definitions/issues"
            }
          },
          "403":{
            "headers":{
              "X-GitHub-Media-Type":{
                "type":"string"
              },
              "X-GitHub-Request-Id":{
                "type":"integer"
              },
              "X-RateLimit-Limit":{
                "type":"integer"
              },
              "X-RateLimit-Remaining":{
                "type":"integer"
              },
              "X-RateLimit-Reset":{
                "type":"integer"
              }
            }
          }
        }
      }
    },
    "/orgs/{org}/members":{
      "get":{
        "parameters":[
          {
            "in":"path",
            "name":"org",
            "required":true,
            "type":"string"
          },
          {
            "in":"header",
            "name":"Accept",
            "type":"string"
          }
        ],
        "responses":{
          "200":{
            "headers":{
              "X-GitHub-Media-Type":{
                "type":"string"
              },
              "X-GitHub-Request-Id":{
                "type":"integer"
              },
              "X-RateLimit-Limit":{
                "type":"integer"
              },
              "X-RateLimit-Remaining":{
                "type":"integer"
              },
              "X-RateLimit-Reset":{
                "type":"integer"
              }
            },
            "schema":{
              "$ref":"#/definitions/users"
            }
          },
          "302":{
            "headers":{
              "X-GitHub-Media-Type":{
                "type":"string"
              },
              "X-GitHub-Request-Id":{
                "type":"integer"
              },
              "X-RateLimit-Limit":{
                "type":"integer"
              },
              "X-RateLimit-Remaining":{
                "type":"integer"
              },
              "X-RateLimit-Reset":{
                "type":"integer"
              }
            }
          },
          "403":{
            "headers":{
              "X-GitHub-Media-Type":{
                "type":"string"
              },
              "X-GitHub-Request-Id":{
                "type":"integer"
              },
              "X-RateLimit-Limit":{
                "type":"integer"
              },
              "X-RateLimit-Remaining":{
                "type":"integer"
              },
              "X-RateLimit-Reset":{
                "type":"integer"
              }
            }
          }
        }
      }
    },
    "/orgs/{org}/members/{username}":{
      "delete":{
        "parameters":[
          {
            "in":"path",
            "name":"org",
            "required":true,
            "type":"string"
          },
          {
            "in":"path",
            "name":"username",
            "required":true,
            "type":"string"
          },
          {
            "in":"header",
            "name":"Accept",
            "type":"string"
          }
        ],
        "responses":{
          "204":{
            "headers":{
              "X-GitHub-Media-Type":{
                "type":"string"
              },
              "X-GitHub-Request-Id":{
                "type":"integer"
              },
              "X-RateLimit-Limit":{
                "type":"integer"
              },
              "X-RateLimit-Remaining":{
                "type":"integer"
              },
              "X-RateLimit-Reset":{
                "type":"integer"
              }
            }
          },
          "403":{
            "headers":{
              "X-GitHub-Media-Type":{
                "type":"string"
              },
              "X-GitHub-Request-Id":{
                "type":"integer"
              },
              "X-RateLimit-Limit":{
                "type":"integer"
              },
              "X-RateLimit-Remaining":{
                "type":"integer"
              },
              "X-RateLimit-Reset":{
                "type":"integer"
              }
            }
          }
        }
      },
      "get":{
        "parameters":[
          {
            "in":"path",
            "name":"org",
            "required":true,
            "type":"string"
          },
          {
            "in":"path",
            "name":"username",
            "required":true,
            "type":"string"
          },
          {
            "in":"header",
            "name":"Accept",
            "type":"string"
          }
        ],
        "responses":{
          "204":{
            "headers":{
              "X-GitHub-Media-Type":{
                "type":"string"
              },
              "X-GitHub-Request-Id":{
                "type":"integer"
              },
              "X-RateLimit-Limit":{
                "type":"integer"
              },
              "X-RateLimit-Remaining":{
                "type":"integer"
              },
              "X-RateLimit-Reset":{
                "type":"integer"
              }
            }
          },
          "302":{
            "headers":{
              "X-GitHub-Media-Type":{
                "type":"string"
              },
              "X-GitHub-Request-Id":{
                "type":"integer"
              },
              "X-RateLimit-Limit":{
                "type":"integer"
              },
              "X-RateLimit-Remaining":{
                "type":"integer"
              },
              "X-RateLimit-Reset":{
                "type":"integer"
              }
            }
          },
          "403":{
            "headers":{
              "X-GitHub-Media-Type":{
                "type":"string"
              },
              "X-GitHub-Request-Id":{
                "type":"integer"
              },
              "X-RateLimit-Limit":{
                "type":"integer"
              },
              "X-RateLimit-Remaining":{
                "type":"integer"
              },
              "X-RateLimit-Reset":{
                "type":"integer"
              }
            }
          },
          "404":{
            "headers":{
              "X-GitHub-Media-Type":{
                "type":"string"
              },
              "X-GitHub-Request-Id":{
                "type":"integer"
              },
              "X-RateLimit-Limit":{
                "type":"integer"
              },
              "X-RateLimit-Remaining":{
                "type":"integer"
              },
              "X-RateLimit-Reset":{
                "type":"integer"
              }
            }
          }
        }
      }
    },
    "/orgs/{org}/public_members":{
      "get":{
        "parameters":[
          {
            "in":"path",
            "name":"org",
            "required":true,
            "type":"string"
          },
          {
            "in":"header",
            "name":"Accept",
            "type":"string"
          }
        ],
        "responses":{
          "200":{
            "headers":{
              "X-GitHub-Media-Type":{
                "type":"string"
              },
              "X-GitHub-Request-Id":{
                "type":"integer"
              },
              "X-RateLimit-Limit":{
                "type":"integer"
              },
              "X-RateLimit-Remaining":{
                "type":"integer"
              },
              "X-RateLimit-Reset":{
                "type":"integer"
              }
            },
            "schema":{
              "$ref":"#/definitions/users"
            }
          },
          "403":{
            "headers":{
              "X-GitHub-Media-Type":{
                "type":"string"
              },
              "X-GitHub-Request-Id":{
                "type":"integer"
              },
              "X-RateLimit-Limit":{
                "type":"integer"
              },
              "X-RateLimit-Remaining":{
                "type":"integer"
              },
              "X-RateLimit-Reset":{
                "type":"integer"
              }
            }
          }
        }
      }
    },
    "/orgs/{org}/public_members/{username}":{
      "delete":{
        "parameters":[
          {
            "in":"path",
            "name":"org",
            "required":true,
            "type":"string"
          },
          {
            "in":"path",
            "name":"username",
            "required":true,
            "type":"string"
          },
          {
            "in":"header",
            "name":"Accept",
            "type":"string"
          }
        ],
        "responses":{
          "204":{
            "headers":{
              "X-GitHub-Media-Type":{
                "type":"string"
              },
              "X-GitHub-Request-Id":{
                "type":"integer"
              },
              "X-RateLimit-Limit":{
                "type":"integer"
              },
              "X-RateLimit-Remaining":{
                "type":"integer"
              },
              "X-RateLimit-Reset":{
                "type":"integer"
              }
            }
          },
          "403":{
            "headers":{
              "X-GitHub-Media-Type":{
                "type":"string"
              },
              "X-GitHub-Request-Id":{
                "type":"integer"
              },
              "X-RateLimit-Limit":{
                "type":"integer"
              },
              "X-RateLimit-Remaining":{
                "type":"integer"
              },
              "X-RateLimit-Reset":{
                "type":"integer"
              }
            }
          }
        }
      },
      "get":{
        "parameters":[
          {
            "in":"path",
            "name":"org",
            "required":true,
            "type":"string"
          },
          {
            "in":"path",
            "name":"username",
            "required":true,
            "type":"string"
          },
          {
            "in":"header",
            "name":"Accept",
            "type":"string"
          }
        ],
        "responses":{
          "204":{
            "headers":{
              "X-GitHub-Media-Type":{
                "type":"string"
              },
              "X-GitHub-Request-Id":{
                "type":"integer"
              },
              "X-RateLimit-Limit":{
                "type":"integer"
              },
              "X-RateLimit-Remaining":{
                "type":"integer"
              },
              "X-RateLimit-Reset":{
                "type":"integer"
              }
            }
          },
          "403":{
            "headers":{
              "X-GitHub-Media-Type":{
                "type":"string"
              },
              "X-GitHub-Request-Id":{
                "type":"integer"
              },
              "X-RateLimit-Limit":{
                "type":"integer"
              },
              "X-RateLimit-Remaining":{
                "type":"integer"
              },
              "X-RateLimit-Reset":{
                "type":"integer"
              }
            }
          },
          "404":{
            "headers":{
              "X-GitHub-Media-Type":{
                "type":"string"
              },
              "X-GitHub-Request-Id":{
                "type":"integer"
              },
              "X-RateLimit-Limit":{
                "type":"integer"
              },
              "X-RateLimit-Remaining":{
                "type":"integer"
              },
              "X-RateLimit-Reset":{
                "type":"integer"
              }
            }
          }
        }
      },
      "put":{
        "parameters":[
          {
            "in":"path",
            "name":"org",
            "required":true,
            "type":"string"
          },
          {
            "in":"path",
            "name":"username",
            "required":true,
            "type":"string"
          },
          {
            "in":"header",
            "name":"Accept",
            "type":"string"
          }
        ],
        "responses":{
          "204":{
            "headers":{
              "X-GitHub-Media-Type":{
                "type":"string"
              },
              "X-GitHub-Request-Id":{
                "type":"integer"
              },
              "X-RateLimit-Limit":{
                "type":"integer"
              },
              "X-RateLimit-Remaining":{
                "type":"integer"
              },
              "X-RateLimit-Reset":{
                "type":"integer"
              }
            }
          },
          "403":{
            "headers":{
              "X-GitHub-Media-Type":{
                "type":"string"
              },
              "X-GitHub-Request-Id":{
                "type":"integer"
              },
              "X-RateLimit-Limit":{
                "type":"integer"
              },
              "X-RateLimit-Remaining":{
                "type":"integer"
              },
              "X-RateLimit-Reset":{
                "type":"integer"
              }
            }
          }
        }
      }
    },
    "/orgs/{org}/repos":{
      "get":{
        "parameters":[
          {
            "in":"path",
            "name":"org",
            "required":true,
            "type":"string"
          },
          {
            "default":"all",
            "enum":[
              "all",
              "public",
              "private",
              "forks",
              "sources",
              "member"
            ],
            "in":"query",
            "name":"type",
            "type":"string"
          },
          {
            "in":"header",
            "name":"Accept",
            "type":"string"
          }
        ],
        "responses":{
          "200":{
            "headers":{
              "X-GitHub-Media-Type":{
                "type":"string"
              },
              "X-GitHub-Request-Id":{
                "type":"integer"
              },
              "X-RateLimit-Limit":{
                "type":"integer"
              },
              "X-RateLimit-Remaining":{
                "type":"integer"
              },
              "X-RateLimit-Reset":{
                "type":"integer"
              }
            },
            "schema":{
              "$ref":"#/definitions/repos"
            }
          },
          "403":{
            "headers":{
              "X-GitHub-Media-Type":{
                "type":"string"
              },
              "X-GitHub-Request-Id":{
                "type":"integer"
              },
              "X-RateLimit-Limit":{
                "type":"integer"
              },
              "X-RateLimit-Remaining":{
                "type":"integer"
              },
              "X-RateLimit-Reset":{
                "type":"integer"
              }
            }
          }
        }
      },
      "post":{
        "parameters":[
          {
            "in":"path",
            "name":"org",
            "required":true,
            "type":"string"
          },
          {
            "in":"header",
            "name":"Accept",
            "type":"string"
          },
          {
            "in":"body",
            "name":"body",
            "required":true,
            "schema":{
              "$ref":"#/definitions/postRepo"
            }
          }
        ],
        "responses":{
          "201":{
            "headers":{
              "X-GitHub-Media-Type":{
                "type":"string"
              },
              "X-GitHub-Request-Id":{
                "type":"integer"
              },
              "X-RateLimit-Limit":{
                "type":"integer"
              },
              "X-RateLimit-Remaining":{
                "type":"integer"
              },
              "X-RateLimit-Reset":{
                "type":"integer"
              }
            },
            "schema":{
              "$ref":"#/definitions/repos"
            }
          },
          "403":{
            "headers":{
              "X-GitHub-Media-Type":{
                "type":"string"
              },
              "X-GitHub-Request-Id":{
                "type":"integer"
              },
              "X-RateLimit-Limit":{
                "type":"integer"
              },
              "X-RateLimit-Remaining":{
                "type":"integer"
              },
              "X-RateLimit-Reset":{
                "type":"integer"
              }
            }
          }
        }
      }
    },
    "/orgs/{org}/teams":{
      "get":{
        "parameters":[
          {
            "in":"path",
            "name":"org",
            "required":true,
            "type":"string"
          },
          {
            "in":"header",
            "name":"Accept",
            "type":"string"
          }
        ],
        "responses":{
          "200":{
            "headers":{
              "X-GitHub-Media-Type":{
                "type":"string"
              },
              "X-GitHub-Request-Id":{
                "type":"integer"
              },
              "X-RateLimit-Limit":{
                "type":"integer"
              },
              "X-RateLimit-Remaining":{
                "type":"integer"
              },
              "X-RateLimit-Reset":{
                "type":"integer"
              }
            },
            "schema":{
              "$ref":"#/definitions/teams"
            }
          },
          "403":{
            "headers":{
              "X-GitHub-Media-Type":{
                "type":"string"
              },
              "X-GitHub-Request-Id":{
                "type":"integer"
              },
              "X-RateLimit-Limit":{
                "type":"integer"
              },
              "X-RateLimit-Remaining":{
                "type":"integer"
              },
              "X-RateLimit-Reset":{
                "type":"integer"
              }
            }
          }
        }
      },
      "post":{
        "parameters":[
          {
            "in":"path",
            "name":"org",
            "required":true,
            "type":"string"
          },
          {
            "in":"header",
            "name":"Accept",
            "type":"string"
          },
          {
            "in":"body",
            "name":"body",
            "required":true,
            "schema":{
              "$ref":"#/definitions/orgTeamsPost"
            }
          }
        ],
        "responses":{
          "201":{
            "headers":{
              "X-GitHub-Media-Type":{
                "type":"string"
              },
              "X-GitHub-Request-Id":{
                "type":"integer"
              },
              "X-RateLimit-Limit":{
                "type":"integer"
              },
              "X-RateLimit-Remaining":{
                "type":"integer"
              },
              "X-RateLimit-Reset":{
                "type":"integer"
              }
            },
            "schema":{
              "$ref":"#/definitions/team"
            }
          },
          "403":{
            "headers":{
              "X-GitHub-Media-Type":{
                "type":"string"
              },
              "X-GitHub-Request-Id":{
                "type":"integer"
              },
              "X-RateLimit-Limit":{
                "type":"integer"
              },
              "X-RateLimit-Remaining":{
                "type":"integer"
              },
              "X-RateLimit-Reset":{
                "type":"integer"
              }
            }
          }
        }
      }
    },
    "/rate_limit":{
      "get":{
        "parameters":[
          {
            "in":"header",
            "name":"Accept",
            "type":"string"
          }
        ],
        "responses":{
          "200":{
            "headers":{
              "X-GitHub-Media-Type":{
                "type":"string"
              },
              "X-GitHub-Request-Id":{
                "type":"integer"
              },
              "X-RateLimit-Limit":{
                "type":"integer"
              },
              "X-RateLimit-Remaining":{
                "type":"integer"
              },
              "X-RateLimit-Reset":{
                "type":"integer"
              }
            },
            "schema":{
              "$ref":"#/definitions/rate_limit"
            }
          },
          "403":{
            "headers":{
              "X-GitHub-Media-Type":{
                "type":"string"
              },
              "X-GitHub-Request-Id":{
                "type":"integer"
              },
              "X-RateLimit-Limit":{
                "type":"integer"
              },
              "X-RateLimit-Remaining":{
                "type":"integer"
              },
              "X-RateLimit-Reset":{
                "type":"integer"
              }
            }
          }
        }
      }
    },
    "/repos/{owner}/{repo}":{
      "delete":{
        "parameters":[
          {
            "in":"path",
            "name":"owner",
            "required":true,
            "type":"string"
          },
          {
            "in":"path",
            "name":"repo",
            "required":true,
            "type":"string"
          },
          {
            "in":"header",
            "name":"Accept",
            "type":"string"
          }
        ],
        "responses":{
          "204":{
            "headers":{
              "X-GitHub-Media-Type":{
                "type":"string"
              },
              "X-GitHub-Request-Id":{
                "type":"integer"
              },
              "X-RateLimit-Limit":{
                "type":"integer"
              },
              "X-RateLimit-Remaining":{
                "type":"integer"
              },
              "X-RateLimit-Reset":{
                "type":"integer"
              }
            }
          },
          "403":{
            "headers":{
              "X-GitHub-Media-Type":{
                "type":"string"
              },
              "X-GitHub-Request-Id":{
                "type":"integer"
              },
              "X-RateLimit-Limit":{
                "type":"integer"
              },
              "X-RateLimit-Remaining":{
                "type":"integer"
              },
              "X-RateLimit-Reset":{
                "type":"integer"
              }
            }
          }
        }
      },
      "get":{
        "parameters":[
          {
            "in":"path",
            "name":"owner",
            "required":true,
            "type":"string"
          },
          {
            "in":"path",
            "name":"repo",
            "required":true,
            "type":"string"
          },
          {
            "in":"header",
            "name":"Accept",
            "type":"string"
          }
        ],
        "responses":{
          "200":{
            "headers":{
              "X-GitHub-Media-Type":{
                "type":"string"
              },
              "X-GitHub-Request-Id":{
                "type":"integer"
              },
              "X-RateLimit-Limit":{
                "type":"integer"
              },
              "X-RateLimit-Remaining":{
                "type":"integer"
              },
              "X-RateLimit-Reset":{
                "type":"integer"
              }
            },
            "schema":{
              "$ref":"#/definitions/repo"
            }
          },
          "403":{
            "headers":{
              "X-GitHub-Media-Type":{
                "type":"string"
              },
              "X-GitHub-Request-Id":{
                "type":"integer"
              },
              "X-RateLimit-Limit":{
                "type":"integer"
              },
              "X-RateLimit-Remaining":{
                "type":"integer"
              },
              "X-RateLimit-Reset":{
                "type":"integer"
              }
            }
          }
        }
      },
      "patch":{
        "parameters":[
          {
            "in":"path",
            "name":"owner",
            "required":true,
            "type":"string"
          },
          {
            "in":"path",
            "name":"repo",
            "required":true,
            "type":"string"
          },
          {
            "in":"header",
            "name":"Accept",
            "type":"string"
          },
          {
            "in":"body",
            "name":"body",
            "required":true,
            "schema":{
              "$ref":"#/definitions/repoEdit"
            }
          }
        ],
        "responses":{
          "200":{
            "headers":{
              "X-GitHub-Media-Type":{
                "type":"string"
              },
              "X-GitHub-Request-Id":{
                "type":"integer"
              },
              "X-RateLimit-Limit":{
                "type":"integer"
              },
              "X-RateLimit-Remaining":{
                "type":"integer"
              },
              "X-RateLimit-Reset":{
                "type":"integer"
              }
            },
            "schema":{
              "$ref":"#/definitions/repo"
            }
          },
          "403":{
            "headers":{
              "X-GitHub-Media-Type":{
                "type":"string"
              },
              "X-GitHub-Request-Id":{
                "type":"integer"
              },
              "X-RateLimit-Limit":{
                "type":"integer"
              },
              "X-RateLimit-Remaining":{
                "type":"integer"
              },
              "X-RateLimit-Reset":{
                "type":"integer"
              }
            }
          }
        }
      }
    },
    "/repos/{owner}/{repo}/assignees":{
      "get":{
        "parameters":[
          {
            "in":"path",
            "name":"owner",
            "required":true,
            "type":"string"
          },
          {
            "in":"path",
            "name":"repo",
            "required":true,
            "type":"string"
          },
          {
            "in":"header",
            "name":"Accept",
            "type":"string"
          }
        ],
        "responses":{
          "200":{
            "headers":{
              "X-GitHub-Media-Type":{
                "type":"string"
              },
              "X-GitHub-Request-Id":{
                "type":"integer"
              },
              "X-RateLimit-Limit":{
                "type":"integer"
              },
              "X-RateLimit-Remaining":{
                "type":"integer"
              },
              "X-RateLimit-Reset":{
                "type":"integer"
              }
            },
            "schema":{
              "$ref":"#/definitions/assignees"
            }
          },
          "403":{
            "headers":{
              "X-GitHub-Media-Type":{
                "type":"string"
              },
              "X-GitHub-Request-Id":{
                "type":"integer"
              },
              "X-RateLimit-Limit":{
                "type":"integer"
              },
              "X-RateLimit-Remaining":{
                "type":"integer"
              },
              "X-RateLimit-Reset":{
                "type":"integer"
              }
            }
          }
        }
      }
    },
    "/repos/{owner}/{repo}/assignees/{assignee}":{
      "get":{
        "parameters":[
          {
            "in":"path",
            "name":"owner",
            "required":true,
            "type":"string"
          },
          {
            "in":"path",
            "name":"repo",
            "required":true,
            "type":"string"
          },
          {
            "in":"path",
            "name":"assignee",
            "required":true,
            "type":"string"
          },
          {
            "in":"header",
            "name":"Accept",
            "type":"string"
          }
        ],
        "responses":{
          "204":{
[...]
