name: Builds, tests & co

on:
  - push
  - pull_request

permissions: read-all

jobs:
  build-and-test:
    strategy:
      fail-fast: false
      matrix:
        node-version: [25, 24, 22, 20]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout tree
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Set-up Mise
        uses: jdx/mise-action@c53b9236f0b3370f31520f8b142f141256d839c6 # v3.6.0
        with:
          cache: false
          mise_toml: |
            [tools]
            node = "${{ matrix.node-version }}"
            yarn = "4"
      - run: yarn install --immutable
      - run: yarn format:check
      - run: yarn build
      - run: yarn test
