name: Builds, tests & co

on:
  - push
  - pull_request

permissions: read-all

jobs:
  build-and-test:
    strategy:
      fail-fast: false
      matrix:
        node-version: [25, 24, 22, 20]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout tree
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Set-up Mise
        uses: jdx/mise-action@d16887ba50704baed7de72bd1e82e04391e4457a # v3.5.0
        with:
          cache: false
          mise_toml: |
            [tools]
            node = "${{ matrix.node-version }}"
            yarn = "4"
      - run: yarn install --immutable
      - run: yarn format:check
      - run: yarn build
      - run: yarn test
