name: Builds, tests & co

on:
  - push
  - pull_request

permissions: read-all

jobs:
  build-and-test:
    strategy:
      fail-fast: false
      matrix:
        node-version: [25, 24, 22, 20]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout tree
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Set-up Mise
        uses: jdx/mise-action@be3be2260bc02bc3fbf94c5e2fed8b7964baf074 # v3.4.0
        with:
          cache: false
          mise_toml: |
            [tools]
            node = "${{ matrix.node-version }}"
            yarn = "4"
      - run: yarn install --immutable
      - run: yarn format:check
      - run: yarn build
      - run: yarn test
